<html>
    <head>
             <title>
                 <%= title%>
             </title>
             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
             <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
       <div id = "container">
        <div id = "heading">
            
              <span><h1> <i class="fas fa-address-book"></i> ContactList</h1></span>
        </div>
        <div id = "add-contact">
            <form action="/create-contact" method="post">
                <input type="text" name = "name" placeholder="name" required>
                <input type="number" name = "phone" placeholder="phone" required>
                <button type="submit">Add contact</button>
            </form>
        </div>
        <div id = "name-contact">
        <ul>
        <% for(let i of contact_list){ %>
            
                 <li>
                     <div id = "li">
                        <i class="far fa-user-circle" style="font-size: x-large;"></i>
                        <div id = "info">
                            
                            <div><%= i.name%></div>
                            <div><%= i.phone%></div>
                         </div>
                         &nbsp &nbsp &nbsp
                         <div id = "delete_button">
                             
                                <a href="/delete-contact/?id=<%= i._id %>">  <!-- request.querry -->
                                    <i class="fas fa-trash"></i>
                             </a>
                         </div>
                     </div>
                 </li>
            
         <% } %>
        </ul>
        </div>   

        
       </div>
        <script src = /js/home.js></script>
    </body>
</html>